python-dotenv
google-auth-oauthlib
google-api-python-client
langchain
langchain_ollama
langgraph
pydantic
fastapi
uvicorn
python-multipart
langgraph-checkpoint-sqlite
pandas
scikit-learn
numpy
cloudinary
pillow
langchain-google-genai
google-genai
markdown
langgraph-checkpoint-mongodb
reportlab